.names{
    color: #718096;
    font-weight: 700;
    padding: 0.25rem;
    margin: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.input {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 300px;
    padding: 5px;
    border-radius: 4px;
    background-color: #e2e8f0;
    outline: none;
    margin-left: 0.25rem;
    position: relative; 

    input {
        color: #718096;
        background-color: transparent;
    }

    i {
        padding: 5px;
        color: #718096;
        font-weight: 700;
    }

    .search-result {
        background-color: white;
        position: absolute; 
        top: 100%; 
        left: 0; 
        width: 300px;
        z-index: 10; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 

        div {
            width: 100%;
            padding: 10px 25px;
            background-color: white;
            cursor: pointer; 
            font-size: 15px;
            color: black;

            &:hover {
                background-color: #edf2f7; 
            }
        }
    }
}
