.subscribe{
    border-radius: 20px;
}
.inp{
    background-color: #e2e8f0;
    input{
        background-color: transparent;
    }
}

.butt{
    border-radius: 30px;
    background-color: #667EEA;
}

.head{
    color: #2d3748;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.33;
}
.des{
    font-size: 16px;
    color: #718096;
}