.image-box{
    border-radius: 10px;
}

.card{
    border-radius: 20px;
}
.titles{
    color: #2d3748;
    margin-bottom: 1rem;
     font-size: 1.25rem;
}

.descrip{
    font-size: 0.875rem;
    color: #718096;
    font-weight: normal;
    line-height: 1.8;
}